<!--
Muestra información sobre la app (versión, creador, apoyo...)
-->
<ion-view view-title="Información">
  <ion-nav-bar class="bar-balanced colorSanLorenzo ">



    <ion-nav-buttons side="left">
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
      </ion-nav-buttons>

      <ion-nav-back-button>
      </ion-nav-back-button>

  </ion-nav-bar>
    <ion-content>

        <img src="img/logo.png" style="display: block;margin-left: auto;margin-right: auto; margin-top:10px;">

        <div style="text-align: center;">
            Versión 3.0.1
        </div>

        <div class="list card">

            <div class="item item-divider" style="text-align: center;">
                <b>Desarrollo</b>
            </div>
            <a href="" class="item item-icon-left">

                <i class="icon ion-person"></i>

                Ismael Rodríguez
            </a>

            <a href="" class="item item-icon-left" ng-click="mail()">
                <i class="icon ion-email"></i>

                ismaro.394@gmail.com
            </a>

            <a href="" class="item item-icon-left" ng-click="twitter()">
                <i class="icon ion-social-twitter"></i>
                @ismaro3
            </a>

            <div class="item item-divider" style="text-align: center;">
                <b>Iconos y fotografías</b>
            </div>
            <a href="" class="item item-icon-left">

                <i class="icon ion-person"></i>

                Marta Bermejo
            </a>

            <div class="item item-divider" style="text-align: center;">
                <b>Arreglos</b>
            </div>
            <a href="" class="item item-icon-left">

                <i class="icon ion-person"></i>

                Lara Luis
            </a>

            <div class="item item-divider" style="text-align: center;">
                <b>Formateo del programa de fiestas</b>
            </div>
            <a href="" class="item item-icon-left">

                <i class="icon ion-person"></i>

                Darío Rodríguez
            </a>


            <div class="item item-divider" style="text-align: center;">
                <b>Código fuente</b>
            </div>
            <a href="" class="item item-icon-left" ng-click="github()">

                <i class="icon ion-social-github"></i>

                Ver en Github
            </a>
        </div>


    </ion-content>
</ion-view>
