
<!--
Contenido del modal mostrado para elegir el adelanto de un recordatorio.
-->
<div class="row">
  <div class="col"> <!-- Columna izquierda -->
    <div class="row" style="width:100%;">
      <button class="button button-block button-calm adelanto-button" ng-class="{'active':time.time==0}" ng-mousedown="time.time=0">
        <span>0m</span>
      </button>
    </div>
    <div class="row" style="width:100%;">
      <button class="button button-block button-calm adelanto-button" ng-class="{'active':time.time==15}" ng-mousedown="time.time=15">
        <span>15m</span>
      </button>
    </div>
    <div class="row" style="width:100%;">
      <button class="button button-block button-calm adelanto-button" ng-class="{'active':time.time==60}" ng-mousedown="time.time=60">
        <span>1h</span>
      </button>
    </div>

  </div>

  <div class="col"> <!-- Columna derecha -->
    <div class="row" style="width:100%;">
      <button class="button button-block button-calm adelanto-button" ng-class="{'active':time.time==5}" ng-mousedown="time.time=5">
        <span>5m</span>
      </button>
    </div>
    <div class="row" style="width:100%;">
      <button class="button button-block button-calm adelanto-button" ng-class="{'active':time.time==30}" ng-mousedown="time.time=30">
        <span>30m</span>
      </button>
    </div>
    <div class="row" style="width:100%;">
      <button class="button button-block button-calm adelanto-button" ng-class="{'active':time.time==120}" ng-mousedown="time.time=120">
        <span>2h</span>
      </button>
    </div>
  </div>

</div>
