<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Elija un día</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    
    <div class="row">

        <div class="col">
          L
        </div>
         <div class="col">
          M

        </div>
        <div class="col">
          X
          
        </div>
        <div class="col">
          J
          
        </div>
        <div class="col">
          V
          
        </div>
        <div class="col">
          S
          
        </div>
        <div class="col">
          D
          
        </div>
        </div>

      <div class="row">

        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >3</button>
        </div>
         <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >4</button>

        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >5</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >6</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >7</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >8</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >9</button>
          
        </div>
        </div>
        <div class="row">

        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >10</button>
        </div>
         <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >11</button>

        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >12</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >13</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >14</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >15</button>
          
        </div>
        <div class="col">
          <button class="button button-block button-outline button-selected button-balanced" >16</button>
          
        </div>
        </div>
     
  
  </ion-content>
</ion-modal-view>
