<ion-view view-title="Ver evento" ng-init="init()">
  <ion-content>
    <div class="list card">

  <div class="item item-thumbnail-left">
    <img src="img/{{event.category}}.png">
    <span class="tituloEvento">{{event.title}}</span>
    
    <p><span  class="icon ion-calendar"></span>   Día {{event.day}} - {{event.hour}}</p>
     </i><p><span  class="icon ion-location"></span>   {{event.place_text}}</p>
  </div>
 
  <div class="item item-body">
    <span>
      {{event.description}}
    </span>

  </div>
      <div class="row">
        <div class="col" ng-click="launchMap()"><button class="button button-block button-positive">
          <span class="icon ion-map"></span> Ver mapa
        </button>
        </div>
        <div class="col" ng-click="favoriteEvent()"><button class="button button-block button-positive fav-button">

          <img ng-show="!isFav(event.id)" class="fav-star-central" src="img/icon-fav-off.png"></span>
          <img ng-show="isFav(event.id)" class="fav-star-central" src="img/icon-fav.png"></span>

          {{ textoFavorito }}
        </button>
        </div>
        </div>

  <!--<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#" ng-click="favoriteEvent()">
      <img ng-show="isFav(event.id)" class="fav-star-left" src="img/fav.png">
      <img ng-hide="isFav(event.id)" class="fav-star-left" src="img/fav-off.png">
      <span class="fav-text">{{ textoFavorito }}</span>

    </a>
   
  </div>-->

</div>
  </ion-content>
</ion-view>
