<ion-view view-title="{{listTitle}}">
	<ion-content scroll-y="true">
<!--<div id="search-bar">
    <div class="item item-input-inset">
      <label class="item-input-wrapper" id="search-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Filtrar eventos" ng-model="$parent.textoBusqueda" ng-change="search()">
      </label>
    </div>
  </div>-->

		<ion-list>
			<div class="row" style="margin:0px" ng-if="hayCat">
				<div class="col">
					<button ng-class="{'disabled': current_day<=0}" class="button button-block button-large button-balanced colorSanLorenzo boton-filtro" ng-click="previousDay()"><< Anterior</button>
				</div>

				<div class="col">
					<button ng-class="{'disabled': current_day>=7}"class="button button-block button-large button-balanced colorSanLorenzo boton-filtro" ng-click="nextDay()">Siguiente >></button>
				</div>

			</div>
			<!-- Importante, el array events debe estar ordenado -->
			<div ng-repeat="day in events">
				<div class="item item-divider tituloDia " ng-if="day.length >0">
		          <!--Cabecera de día -->
		          Día {{::day[0].day}}
		        </div>

		        <!-- Listado de eventos de ese día -->
				<div  ng-repeat="event in day" class="item elemento-lista-eventos"  ng-click="displayEvent(event.id)">

					<div class="row">
  						<div class="col col-20"><img ng-src="img/{{::event.category}}.png" class="left-image"></div>
  						<div class="col">
  							<div>

								<img  class="fav-star" ng-src="img/fav-{{isFav(event.id)}}.png" ng-click="toggleFav(event.id); $event.stopPropagation();">
							</div>
							<span class="tituloLista">{{::event.title}}</span>
							<br/>
							<span class="horaLista"><span   class="icon ion-calendar"></span>   Día {{::event.day}} - {{::event.hour}}</span>
							<br/><span class="horaLista"><span  class="icon ion-location"></span>   {{::event.place_text}}</span>

  						</div>
					</div>
				</div>
			</div>
			<button class="button button-block button-stable boton-subir" ng-click="subir()"><span class="icon ion-arrow-up-a"></span>Subir</button>
		</ion-list>


	</ion-content>
</ion-view>