<!--
Vista de lista de favoritos.
-->
<ion-view view-title="Favoritos">
	<ion-nav-bar class="bar-balanced colorSanLorenzo ">



		<ion-nav-buttons side="left">
		</ion-nav-buttons>
			<ion-nav-buttons side="right">
			</ion-nav-buttons>

			<ion-nav-back-button>
			</ion-nav-back-button>

	</ion-nav-bar>
	<ion-content class="description-background">

		<div class="list"  ng-show="hayFavoritos()">
			<!-- Importante, el array events debe estar ordenado -->
			<div ng-repeat="day in ::events">
				<div class="item item-divider tituloDia" ng-if="dayHasFav(day)">
					<!--Cabecera de día -->
					Día {{day[0].day}}
				</div>

				<!-- Listado de eventos de ese día -->
				<div  ng-repeat="event in ::day" ng-show="isFav(event.id)" class="item elemento-lista-eventos" ng-click="displayEvent(event.id)">

					<div class="row">
						<div class="col col-20"><img src="img/{{event.category}}.png" class="left-image"></div>
						<div class="col">
							<div>
								<img  class="fav-star" ng-src="img/fav-{{isFav(event.id)}}.png" ng-click="toggleFav(event.id); $event.stopPropagation();">
							</div>
							<span class="tituloLista">{{event.title}}</span>
							<br/>
							<span class="horaLista"><span   class="icon ion-calendar"></span>   Día {{event.day}} - {{event.hour}}</span>
							<br/><span class="horaLista"><span  class="icon ion-location"></span>   {{event.place_text}}</span>

						</div>

					</div>


				</div>
			</div>
		</div>
		<div class="card" ng-hide="hayFavoritos()">
			<div class="item item-text-wrap">
				No hay favoritos.
				Para añadir un evento como favorito, pulsa la pajarita que aparece en el mismo.
			</div>
		</div>
	</ion-content>
</ion-view>

<
