<!--
Vista de guia, que muestra las categorias y dias disponibles.
-->
<ion-view view-title="Programa">
    <ion-nav-bar class="bar-balanced colorSanLorenzo ">



      <ion-nav-buttons side="left">
      </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-search" ng-click="toggleSearch()"></button>
        </ion-nav-buttons>

        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content class="guide-background ">

        <form ng-submit="buscar()" ng-show="buscarVisible" class="search ng-cloak">
            <label class="item item-input  barraBusqueda">
                <i class="icon ion-search placeholder-icon letraNegra"></i>
                <input type="search" ng-model="$parent.filtro" placeholder="Buscar por título y/o lugar">
            </label>
        </form>

        <div class="card item-trns">
            <div class="item item-divider">
                Programa por días
            </div>


            <div class="item  item-text-wrap " style="padding:5px; align:center; ">


                <div class="row" style="margin-top: -10px; align:center;">

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(8)">
                            <span class="littleDay">Lun.</span><br/>
                            8
                        </button>
                    </div>

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(9)">
                            <span class="littleDay">Mar.</span><br/>
                            9
                        </button>
                    </div>

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(10)">
                            <span class="littleDay">Mié.</span><br/>
                            10
                        </button>
                    </div>

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(11)">
                            <span class="littleDay">Jue.</span><br/>
                            11
                        </button>
                    </div>

                </div>

                <div class="row" style="margin-top: -30px;">

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(12)">
                            <span class="littleDay">Vie.</span><br/>
                            12
                        </button>
                    </div>

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(13)">
                            <span class="littleDay">Sab.</span><br/>
                            13
                        </button>
                    </div>

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(14)">
                            <span class="littleDay">Dom.</span><br/>
                            14
                        </button>
                    </div>

                    <div class="col col-25">
                        <button class="button button-block button-large button-balanced button-day colorSanLorenzo"
                                ng-click="openDay(15)">
                            <span class="littleDay">Lun.</span><br/>
                            15
                        </button>
                    </div>

                </div>
            </div>


            <div class="item item-divider">
                Programa por categorías
            </div>

            <div class="item item-text-wrap">
                <div class="row" style="margin-top: -30px;">


                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openCategory('conciertos')">
                            <span class="categoryLabel">Conciertos</span>
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openCategory('infantil')">
                            <span class="categoryLabel">Infantil</span>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: -30px;">


                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openCategory('toros')">
                            <span class="categoryLabel">Toros</span>
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openCategory('otros')">
                            <span class="categoryLabel">Otros</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <div style="width:100%; text-align:center;">
            <span ng-if="lastUpdated" class="center-text font-size:80%;" style="width:100%;">Actualizado: {{lastUpdated | date:'dd/MM/yyyy HH:mm' }}</span>
        </div>


    </ion-content>
</ion-view>
