<!--
 Vista sobre información de las fiestas.
 -->
  <ion-view view-title="Información">
    <ion-nav-bar class="bar-balanced colorSanLorenzo ">



      <ion-nav-buttons side="left">
      </ion-nav-buttons>
        <ion-nav-buttons side="right">
        </ion-nav-buttons>

        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>
  <ion-content class="description-background">
  <ion-list class="card">

  <a class="item item-icon-left" ng-click="toggleGroup(0)">
    <i class="icon ion-ios-help-outline"></i>
    ¿Quién fue San Lorenzo?
  </a>

 <ion-item class="item-accordion"
           ng-show="isGroupShown(0)">
           <span class="textoInfo">
                <!--<img src="img/santo.jpg" class="imagenInfo"><br/>-->
        Nació en Huesca, en la Hispania Tarraconensis. Fue diácono del Papa Sixto II a partir del año 257, y encargado de administrar los bienes de la iglesia y el cuidado de los pobres. Entre los tesoros de la Iglesia confiados a Lorenzo se dice que se encontraba el Santo Grial, y que consiguió enviarlo a Huesca, junto a una carta y un inventario, donde fue escondido durante siglos.<br/>
Durante la persecución de los cristianos bajo el mandato del Emperador Valerio I, el Papa Sixto II fue crucificado. Lorenzo se encontró con el Papa de camino a su crucifixión. Fue entonces cuando el Papa le anunció que Lorenzo le seguiría a la muerte en tres días.
Tras la muerte del Papa, el prefecto de Roma ordenó a Lorenzo que entregase todas las riquezas de la Iglesia. Lorenzo pidió tres días para recolectarlas, pero lo que hizo fue distribuir las riquezas entre los pobres. Al tercer día, Lorenzo le presentó los pobres al prefecto, argumentándole que ellos eran los verdaderos tesoros de la Iglesia.
Por ello, Lorenzo fue quemado vivo en una parrilla el 10 de Agosto, día que se celebra su Santo.
<br/>
<br/>
<i>Fuente: <a href="http://bit.ly/1Kv5sV5" ng-click="openLink('http://bit.ly/1Kv5sV5')">http://bit.ly/1Kv5sV5</a></i>
</span>
  </ion-item>
  <a  class="item item-icon-left" ng-click="toggleGroup(1)">
    <i class="icon ion-ios-help-outline"></i>
    Origen de las fiestas
  </a>
<ion-item class="item-accordion"
           ng-show="isGroupShown(1)">
        <span class="textoInfo">
             <img src="img/fuegos.jpg"  class="imagenInfo"><br/>
En los siglos XVI y XVII se celebraban, en torno al día del santo, una corrida de toros y una de las tres ferias comerciales de la ciudad. La corrida de toros, precedente de la actual Feria Taurina de San Lorenzo, tenía lugar en el Campo del Toro, un singular recinto cuadrangular que se levantaba, casualmente, en el mismo lugar donde está la actual Plaza de Toros. De la segunda mitad del siglo XVII son también las primeras noticias de dos de los principales protagonistas de las fiestas laurentinas: los Danzantes de San Lorenzo y la Comparsa de gigantes y cabezudos, cuya primera aparición data del año 1663.
<br/>
Las fiestas de San Lorenzo comenzaron a tener una duración y unas características similares a las actuales en el siglo XIX. El primer cartel de las fiestas que se conserva es, así, del año 1893. A mediados del siglo XX nacieron, por último, las Peñas Recreativas Oscenses, que contribuyeron de forma decisiva a la popularización de las fiestas. Con ellas llegó el típico atuendo blanco y la pañoleta y el cinto verdes. De forma paralela, la albahaca se convirtió en uno de los símbolos principales del ciclo festivo. Y aparecieron las mairalesas, orgullosas representantes hoy de las Peñas y los diferentes barrios de la ciudad. En la época de la Transición, con los primeros ayuntamientos democráticos desde 1979, las fiestas de San Lorenzo adquirieron finalmente los rasgos que las caracterizan hoy, con una programación más diversa y accesible, que tiene como destinatarios por igual tanto a los oscenses como a quienes nos visitan.
<br/>

<br/>
<i>Fuente: <a href="http://bit.ly/1DLiPbW" ng-click="openLink('http://bit.ly/1DLiPbW')">http://bit.ly/1DLiPbW</a></i>
        </span>
  </ion-item>
</div>
      <a  class="item item-icon-left" ng-click="toggleGroup(2)">
          <i class="icon ion-ios-help-outline"></i>
          Los Danzantes
      </a>
      <ion-item class="item-accordion"
                ng-show="isGroupShown(2)">
        <span class="textoInfo">
            <img src="img/danzantes.jpg"  class="imagenInfo"><br/>
Los danzantes de Huesca representan una de las tradiciones más antiguas y queridas por los oscenses. Sus actuaciones durante las fiestas patronales llenan de alegría, emoción y recuerdos las calles de Huesca.
La estrechísima vinculación entre los danzantes y el patrón San Lorenzo ha hecho que sus actuaciones se realicen únicamente dentro del marco de las fiestas patronales en honor al Santo, y que estas carezcan de sentido fuera de Huesca y de los dias patronales.

                   <br/>En la actualidad hay cinco dances que se denominan: "Las Espadas", "los Palos Viejos", "los Palos Nuevos", "las Cintas" y "el Degollau". La melodía de todas estas variaciones de bailes es muy conocida entre los oscenses.
La Agrupación se compone de 27 personas: un Mayoral, un Danzante para las cintas, un Rapatán y 24 Danzantes que forman seis cuadros de baile. Existe también un segundo Mayoral para sustituir al primero en caso de necesidad. 
<br/>Aunque se sospecha que la tradición puede tener origen céltico, las primeras referencias a los danzantes aparecen en el siglo  XVII-XVIII.

            <br/>

<br/>
<i>Fuente: <a href="http://bitly.com/1KE0ghJ" ng-click="openLink('http://bitly.com/1KE0ghJ')">http://bit.ly/1KE0ghI</a></i>
        </span>
      </ion-item>
      </div>


</ion-list>

</ion-content>
</ion-view>
