<!--This view shows the main list of days. It is the main screen
  of the app -->
  <ion-view view-title="Pantalla principal">

  <ion-content >
</ion-nav-buttons>
  <ul class="list">
    <li class="item main-list-item" style="background-image:url('/img/chupinazo.jpg');" ng-click="openGuide()">
     PROGRAMA
     <hr class="main-list-line" width="60%"/>
    </li>
    <li class="item main-list-item" style="background-image:url('/img/chupinazo.jpg');" ng-click="openFavorites()">
     FAVORITOS
     <hr class="main-list-line" width="60%"/>
    </li><li class="item main-list-item" style="background-image:url('/img/chupinazo.jpg');" ng-click="openPhones()">
     TELÉFONOS DE INTERÉS
     <hr class="main-list-line" width="60%"/>
    </li><li class="item main-list-item" style="background-image:url('/img/chupinazo.jpg');" ng-click="openInfo()">
     SOBRE LAS FIESTAS
     <hr class="main-list-line" width="60%"/>
    </li>
</ul>







</ion-content>
</ion-view>
