<!--
Vista de menu principal
-->
  <ion-view view-title="San Lorenzo 2016">

      <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-search" ng-click="toggleSearch()"></button>
      </ion-nav-buttons>
  <ion-content class="main-background" >

      <form ng-submit="buscar()" ng-show="buscarVisible" class="search ng-cloak">
          <label class="item item-input  barraBusqueda" >
              <i class="icon ion-search placeholder-icon letraNegra"></i>
              <input type="search" ng-model="$parent.filtro" placeholder="Buscar por título y/o lugar" ng-focus="offTeclado()" ng-blur="onTeclado()">
          </label>
      </form>



</ion-content>
      <div class="footer" >

          <ul class="list">
              <li class="item main-list-item item-icon-left"  ng-click="openGuide()" transitiontype="flip" direction="left" go-native>
                  <span class="icon ion-home"></span> PROGRAMA
              </li>
              <li class="item main-list-item item-icon-left"  ng-click="openFavorites()">
                  <span class="icon ion-star"></span>FAVORITOS
              </li><li class="item main-list-item item-icon-left" ng-click="openPhones()">
              <span class="icon ion-ios-telephone"></span>TELÉFONOS DE INTERÉS
          </li><li class="item main-list-item item-icon-left" ng-click="openInfo()">
              <span class="icon ion-information-circled"></span>SOBRE LAS FIESTAS
          </li>
          </ul>
      </div>
</ion-view>
