<!--
Vista de menu principal
-->
  <ion-view view-title="Chachos Pilar 2016">

      <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-search" ng-click="toggleSearch()"></button>
      </ion-nav-buttons>
  <ion-content class="main-background" >

      <form ng-submit="buscar()" ng-show="buscarVisible" class="search ng-cloak">
          <label class="item item-input  barraBusqueda" >
              <i class="icon ion-search placeholder-icon letraNegra"></i>
              <input type="search" ng-model="$parent.filtro" placeholder="Buscar por título y/o lugar" ng-focus="offTeclado()" ng-blur="onTeclado()">
          </label>
      </form>



</ion-content>
      <div class="footer" >
  <div class="item item-text-wrap">
                <div class="row" style="margin-top: -5px;">


                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openGuide()" transitiontype="flip" direction="left" go-native>
                            <span class="icon ion-home"></span> Programa</span>
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openFavorites()">
                            <span class="icon ion-star"></span><span> Favoritos</span>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;">


                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                                ng-click="openPhones()">
                            <span class="icon ion-ios-telephone"><span class="categoryLabel"> Teléfonos</span>
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button button-block button-large button-balanced colorSanLorenzo"
                               ng-click="openInfo()">
                            <span class="icon ion-information-circled"></span><span> Info</span>
                        </button>
                    </div>
                </div>
            </div>
          
          </div>
</ion-view>
