<ion-view view-title="Ver evento" ng-init="init()">
  <ion-content>
    <div class="list">

<div ng-repeat="section in phones">

  <div class="item item-divider" ng-if="section.phones.length >0 ">
    <!--Cabecera de día -->
    {{section.name}}

  </div>

  <div ng-repeat="contact in section.phones" class="item item-button-right">
    <strong>{{contact.title}}</strong> <br/>
    {{contact.phone}}
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>

</div>



    </div>
  </ion-content>
</ion-view>
