/* Empty. Add your own CSS if you like */
.tituloEvento{
overflow: initial;
    white-space: initial;
}

.tituloLista{
    overflow: initial;
    white-space: initial;
    font-size:105%;
}
.horaLista{
    overflow: initial;
    white-space: initial;
    font-size:87%;
}
@media screen and (max-width: 400px) { 
.tituloLista{
    overflow: initial;
    white-space: initial;
    font-size:90%;
}
.horaLista{
    overflow: initial;
    white-space: initial;
    font-size:77%;
}


}

.textoInfo{
    overflow: initial;
    white-space: initial;
    font-size:100%;
}

.colorSanLorenzo{
    background-color:#00722d !important;
 }


.littleDay{
	font-size:70%;   
}
.categoryLabel{
	font-size:75%;
}
.button-day {
    line-height: 1em;
    
}


.left-image{
    max-width:100%;
    max-height:100px;
}



.elemento-lista-eventos  {
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal ;
    padding:0px;

}


.fav-star-central {
    max-width: 25px;
    padding-top:8px;
    padding-bottom:0px;
    margin-top:0px;

}
.fav-star {
    max-width: 9vw;
    max-height:9vh;
    float: right;
    border:10px;

}

.fav-star-left{
    max-width: 35px;
    float:left;
}

.fav-text{
    font-size: 140%;
    overflow: initial;
    white-space: initial;
}


.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white; 
}

.fav-button{
    max-height:10px;
    padding-top: 0px;

}


.main-list-item{

  height: 23vh;
  font-size:200%;
  color: #FFFFFF;
  font-weight:bold;
  text-align: center;
}


.main-list-line{
 height: 3px;
 border: 0;
background-color: #f00;
}

.search {
    transition: 0.09s all linear;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.guide-background {
  background: url(../img/albahaca.png);
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat;
  
}

.description-background {
  background-image: url(../img/albahaca.png);
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat;
}